node_modules/
*.log

apps/darwin/*
!apps/darwin/coregrounds.app/
apps/darwin/coregrounds.app/*
!apps/darwin/coregrounds.app/Contents/
apps/darwin/coregrounds.app/Contents/*
!apps/darwin/coregrounds.app/Contents/Resources/
apps/darwin/coregrounds.app/Contents/Resources/*
!apps/darwin/coregrounds.app/Contents/Resources/app.nw
apps/darwin/coregrounds.app/Contents/Resources/app.nw/*
!apps/darwin/coregrounds.app/Contents/Resources/app.nw/package.json
!apps/darwin/coregrounds.app/Contents/Resources/app.nw/index.html

apps/linux/*
!apps/linux/package.json
!apps/linux/package.nw/
apps/linux/package.nw/*
!apps/linux/package.nw/index.html

apps/windows/*
!apps/windows/package.json
!apps/windows/package.nw/
apps/windows/package.nw/*
!apps/windows/package.nw/index.html

apps/windows-32bit/*
!apps/windows-32bit/package.json
!apps/windows-32bit/package.nw/
apps/windows-32bit/package.nw/*
!apps/windows-32bit/package.nw/index.html

apps/windows-debug/*
!apps/windows-debug/package.json
!apps/windows-debug/package.nw/
apps/windows-debug/package.nw/*
!apps/windows-debug/package.nw/index.html

mobile/Coregrounds/platforms/*
