.background-0 {
  background-color: #111;
}

.background-2100 {
  background-image: url(img/backgrounds/hexgrid.png);
  background-size: 12px;
}

.background-2101 {
  background-image: url(img/backgrounds/binding_dark_@2X.png);
  background-size: 180px;
}

.background-2102 {
  background-image: url(img/backgrounds/black_twill_@2X.png);
  background-size: 14px;
}

.background-2103 {
  background-image: url(img/backgrounds/dark_brick_wall_@2X.png);
  background-size: 96px;
}

.background-2104 {
  background-image: url(img/backgrounds/darkdenim3_@2X.png);
  background-size: 420px;
}

.background-2105 {
  background-image: url(img/backgrounds/ep_naturalblack.png);
  background-size: 200px;
}

.background-2106 {
  background-image: url(img/backgrounds/fake_brick_@2X.png);
  background-size: 76px;
}

.background-2107 {
  background-image: url(img/backgrounds/gun_metal_@2X.png);
  background-size: 10px;
}

.background-2108 {
  background-image: url(img/backgrounds/hixs_pattern_evolution_@2X.png);
  background-size: 35px;
}

.background-2109 {
  background-image: url(img/backgrounds/low_contrast_linen_@2X.png);
  background-size: 256px;
}

.background-2110 {
  background-image: url(img/backgrounds/vertical_cloth_@2X.png);
  background-size: 399px;
}

.background-2111 {
  background-image: url(img/backgrounds/woven_@2X.png);
  background-size: 42px;
}
