button {
  display: flex;
  align-items: center;
  border:none;
  font-size: 1em;
  color: #dbdbdb !important;
  text-transform: uppercase;
  text-align: center;
  padding: .75em;
  transition: all 0.2s;
  font-family: inherit;
  border-radius: 2px;
  white-space: nowrap;
  svg {
    fill: #dbdbdb;
  }
  &.waiting {
    animation: throb 1s linear;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    pointer-events: none;
  }
  &[disabled] {
    opacity: 0.7;
  }
}

@keyframes throb {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

button:hover {
  cursor: inherit;
}

button:focus {
  outline:none;
}

button:active {
  transform: translate(0, 1px);
  &[disabled] {
    transform: none;
  }
}

button.grey {
  background: #272727 !important;
  &:hover {
    background: #333 !important;
  }
}

button.red {
  background: #8b0000 !important;
  &:hover {
    background: #980000 !important;
  }
}

button.box.slot {
  display: block;
  margin: 0 0 .75em 0;
  width: 100%;
  min-height: 75px;
  // background: #1E1E1E;
  // border: 2px solid #000;
}

button.box.wide {
  width: 100%;
  justify-content: center;
}

.flex-btns {
  margin: 1em 0;
  display: flex;
  button {
    flex: 1;
    margin-right: 0.5em;
    justify-content: center;
    &:last-child {
      margin: 0;
    }
  }
}
