body {
  overflow: hidden;
  background: #111;
  cursor: url(img/cursor.svg), default;
  user-select:none;
}

body:active  {
  cursor: url(img/cursor_highlight.svg), default;
}

canvas {
  max-width:100%;
  max-height:100%;
  display:block;
  position: relative;
  z-index: 1;
  transform: translateZ(0);
}

canvas:active,
canvas:hover {
  cursor: inherit !important;
}

#wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
}

#game {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:3;
}

screen,
.page {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

screen,
.page {
  z-index:3;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .2s, opacity 0.2s linear;
}

screen, // We try it entirely without transition here
.page.no-transition {
  transition: none;
}

screen.active,
.page.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.clickthrough {
  pointer-events: none;
  .clickcapture {
    pointer-events: all;
  }
}

.iframe {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.fit {
  display: block;
  width: 100%;
  height: 100%;
}

.fit-width {
  width: 100%;
}

.pad {
  padding: 1em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  &-child {
    flex: 1;
    margin: auto; // needed for proper overflow-y
  }
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.content-text {
  max-width: 800px;
  margin: auto;
}

.bg-contrast {
  background: rgba(0, 0, 0, 0.65);
}

.overlaybox {
  max-width: 600px;
  padding: 1em;
  margin: 1em;
}

// HTML Pages
.container {
  position: absolute;
  overflow-y: auto;
  .content {
    padding: 4vw;
  }
  &.flex {
    display: flex;
    .content {
      padding: 0;
      width: 100%;
      margin: auto;
    }
  }
}

.container-full {
  position: absolute;
  // Set to scroll because we use an invisible scroll bar track anyway and
  // we can avoid page width changes between screens.
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .content {
    padding: 4vw;
    padding-top: 80px;
    max-width: 1280px;
    margin: auto;
    min-height: 100%;
  }
  &.flex {
    display: flex;
  }
}

@media (max-width: 320px) {
  .container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 320px) {
  .container {
    top: 4vw;
    bottom: 4vw;
    left: 4vw;
    right: 4vw;
    .content {
      padding: 4vw;
    }
  }
}

@media (min-width: 1408px) {
  .container {
    width: 1280px;
    left: auto;
    right: auto;
  }
}

// FLOAT grid
.content-row-1,
ul.content-row-2 li,
ul.content-row-3 li,
ul.content-row-4 li,
ul.content-row-5 li {
  margin-bottom: 1em;
}

@media (min-width: 960px) {

  ul.content-row-2,
  ul.content-row-3,
  ul.content-row-4,
  ul.content-row-5 {
    li {
      float: left;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  ul.content-row-1 {
    li {
      margin: 0 0 1% 0;
    }
  }

  ul.content-row-2 li {
    width: 49%;
    margin: 1%;
    &:nth-child(odd) {
      margin-left: 0;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
  }

  ul.content-row-3 li {
    width: 32%;
    margin: 1%;
    &:nth-child(3n-2) {
      margin-left: 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  ul.content-row-4 li {
    width: 23.5%;
    margin: 1%;
    &:nth-child(4n-3) {
      margin-left: 0;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  ul.content-row-5 li {
    width: 18.4%;
    margin: 1%;
    &:nth-child(5n-4) {
      margin-left: 0;
    }
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

// FLEX grid
ul.flex-row-2 li,
ul.flex-row-3 li,
ul.flex-row-4 li,
ul.flex-row-5 li {
  margin-bottom: 1em;
}

@media (min-width: 960px) {

  ul.flex-row-2,
  ul.flex-row-3,
  ul.flex-row-4,
  ul.flex-row-5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    li {
      display: flex;
    }
  }

  ul.flex-row-2 li {
    width: 48%;
    margin: 1%;
  }

  ul.flex-row-3 li {
    width: 31.333%;
    margin: 1%;
  }

  ul.flex-row-4 li {
    width: 23%;
    margin: 1%;
  }

  ul.flex-row-5 li {
    width: 18%;
    margin: 1%;
  }
}
