#steam-init,
#login-form,
#create-account-form {
  input, button {
    margin-bottom: 0.75em;
  }
  label {
    font-size: 15px;
    line-height: 1.5em;
    padding: 0 5px;
  }
}

#username-available {
  &.available {
    color: green;
  }
  &.not-available {
    color: red;
  }
}
