button.box.unlock-btn {
  justify-content: center;
  currency {
    margin: .25em;
    font-size: 1.2em;
    svg {
      margin: 0 .5em 0 0;
      width: 1em;
    }
  }
  sprite.small {
    width:20%;
  }
  sprite.normal {
    width:40%;
  }
  sprite.big {
    width:60%;
  }
  sprite.huge {
    width:80%;
  }
  &.cta {
    position: relative;
    padding-top: 60px;
    currency {
      background: rgba(0,0,0,0.5);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      margin: 0;
      justify-content: center;
      height: 50px;
    }
  }
}
