input[type="text"],
input[type="number"] {
  max-width:100%;
}

input[type="number"],
input[type="text"],
input[type="password"] {
  padding: .75em;
  width: 100%;
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  background: #1E1E1E;
  border: 0;
  border-radius: 2px;
  font-family: inherit;
  font-size: 18px;
  border: 1px solid #000;
}

input[type="number"]:focus,
input[type="text"]:focus {
  outline: none;
  border: 1px solid #666;
}

input[type="password"]:focus {
  outline: none;
  border: 1px solid #666;
}
