
.progress-bar {
  position: relative;
  background: #1A1A1A;
  text-align: center;
  color:#fff;
  line-height:26px;
  overflow: hidden;
  .bar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #444;
  }
  span {
    position: relative;
    filter: drop-shadow(0 0 1px #000);
  }
}

ul.achievements {
  li {
    flex-direction: column;
    .achievement-header {
      padding: .5em;
      display: flex;
      justify-content: space-between;
    }
    .achievement-description {
      padding: .5em;
    }
  }
}
