.box,
.blackbox {
  border: 2px solid #000;
  border-bottom-width: 3px;
}

.blackbox {
  background-color: #0a0a0a;
}

.text-2400 {
  color: #0077af;
}

.text-2401 {
  color: #dc5a00;
}

.text-2402 {
  color: #e252b4;
}

.text-2403 {
  color: #008600;
}

.text-2404 {
  color: #ffd700;
}

.text-2405 {
  color: #8b4513;
}

.text-2406 {
  color: #04967f;
}

.text-2407 {
  color: #cf1020;
}

.text-2408 {
  color: #26a7ce;
}

.text-2410 {
  color: #8a2be2;
}

.text-2411 {
  color: #808000;
}

.text-2412 {
  color: #ff00ff;
}
