body {
  margin:0;
  background-color: #222;
  background-image: url(../images/bg.png);
  background-size: 76px;
}

a.logo {
  width: 480px;
  margin: 50px auto;
  display: block;
  max-width: 80vw;
  svg rect {
    fill: $color;
    transition: all .3s;
  }
  &:hover svg rect {
    fill: $colorlight;
  }
}
