*.opensdf
*.sdf
*.user
*.opendb
*.db
*.suo
/bin
/tmp
/lib
/ipch
/src/Lobby/GeneratedFiles
/src/Shared/GeneratedFiles
/src/Server/GeneratedFiles
/src/Game/GeneratedFiles
/src/ThirdParty
/.vs
/*.vspx


*.css
*.png
*.htm
*.html
*.log
*.obj
*.pdb
*.exe
*.ilk
*.rsp
*.user
/src/Core/GeneratedFiles

/ThirdParty/boost/*/bin.v2
/ThirdParty/boost/*/doc
/ThirdParty/boost/*/more
/ThirdParty/boost/*/libs/*/doc
/ThirdParty/boost/*/libs/*/example
/ThirdParty/boost/*/libs/*/test
/ThirdParty/boost/boost_1_65_1/project-config.jam

/ThirdParty/protobuf/*/cmake/build
/ThirdParty/protobuf/install
/ThirdParty/protobuf/static_install

!precompiled/*.*